{% extends 'base.html' %}

{% block title %}Password Change Successful - BOM Management System{% endblock %}

{% block page_title %}Password Changed Successfully{% endblock %}

{% block page_description %}Your password has been successfully updated.{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            <p>Your password has been changed successfully.</p>
        </div>
        <a href="{% url 'user_management:profile' %}" class="btn btn-primary">Return to Profile</a>
    </div>
</div>
{% endblock %}
